<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/css/style.css" type="text/css" />
		<title>Burger mash!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../models/burgers.js"></script>
	</head>
	<body>
		<p> whats up </p>
		{{{ body }}}
	</body>
</html>